form.signup,
form.login {
  margin-top: 25px;
text-emphasis-color: white;
}
.Posts {
  padding: 10px;
  margin: 10px;
  background-color: #E8F9FF;
}
.cool-font {
  font-family: Shrikhand, cursive;
  font-size: 24px;
  color: #E0ECF3;
}
body {
  background-image: url(../pictures/coronavirus1.jpeg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.cool-font {
  font-family: Shrikhand, cursive;
  font-size: 24px;
  color: #D6E4EC;
}
.jumbotron {
  position: relative;
  font-family: Shrikhand, cursive;
  color: white;
  background-color:rgb(9, 70, 9);
  height: 200px;
  width: auto;
}
.item {
    padding-left: 10px;
    padding-bottom: 10px;
}
.carousel-fade  {
height: 450px;
width:450px;
object-position: top;
float: left;
}
input,
textarea {
  margin: 20px;
}
h2 {
  color: white;
  font-family: shirkhand, cursive;
  font-size: 40px;
}
.nav {
  color: rgb(207, 167, 167);
  font-family: shirkhand, cursive;
 }
h3 {
  color: white;
  font-family: shirkhand, cursive;
  font-size: 25px;
}
label {
  color: white;
  font-family: shirkhand, cursive;
  font-size: 40px;
}
.carousel-caption {
padding-right: 1000px;
}
.row {
  text-align: center;
  height: 50px;
}
.Logout {
  color: white;
  font-family: shirkhand, cursive;
  font-size: 40px;
  float: left;
  padding-top: 14px;
}
#post-submit {
  color: grey;
  font-family: shirkhand, cursive;
  font-size: 10px;
}
#most-liked {
  color: grey;
  font-family: shirkhand, cursive;
  font-size: 10px;
}
p {
  color: white;
  font-family: shirkhand, cursive;
  font-size: 25px;
}